<header class="site-header">
  <h4>TODO</h4>
</header>

<section>
    <h2 class="welcome-title">Make Simple Lists  </h2>

    <h3>All in one place. Supported on cross browsers</h3>

    
    <p>Write simple lists without extra tools or plugins or buttons distracting you. 
      Access them on any device- desktop or mobile. <em>Just write lists.</em>
    </p>
    <div class="logins">
        <a href="" class="button login icon icon-twitter">Log in with Twitter</a>
        <a href="" class="button login icon icon-gmail">Log in with Gmail</a>
    </div>
    
    
    <footer>
        <p>ToDo is a tool from <a href="http://tonyeiyalla.com/">Tonye Iyalla</a></p>
    </footer>
    
</section>
